@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --bg-body: #0d7377;
    --primary-color: #323232;
    --segundo-color: #212121;
    --tercer-color: #14ffec;
    --fontSize-title: 50px;
    --fontSize-parrafos: 20px;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Montserrat', sans-serif;
}

p,a,li,td,label{
    font-family: 'Cinzel Decorative', cursive;
}

body{
    background: linear-gradient(90deg,#212121 40%,  #0d7377 80%);
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.col-lg-5{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.col-lg-7{
    /* display: flex; */
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section .col-lg-5{
    border-right: 4px solid #14ffec;
    margin: 10px auto;
}

section .cont-foto img{
    width: 600px;
    position: relative;
    content: "";
}

section .col-lg-7 h1{
    text-align: center;
    color: #ffffff;
    font-size: var(--fontSize-title);
    margin-bottom: 40px;
    font-weight: 700;
}
form{
    width: 100% !important;
    position: relative;
    margin: 0 auto !important;
}

.mb-3 {
    display: block;
    color: #fff;
    text-align: left;
    font-size: var(--fontSize-parrafos);
    font-weight: 600;
}

.mb-3 .form-control{
    height: 60px;
    border-bottom: 6px solid #14ffec;
}

.mb-3 .form-control:hover{
    border-color: var(--tercer-color);
}

.form-check{
    margin-top: 25px;
    font-size: 15px;
}

[type=submit]:not(:disabled), button:not(:disabled){
    width: 83%;
    height: 60px;
    font-weight: 700;
}

p{
    margin-top: 25px;
    text-align: center;
}

p.detalle{
    text-align: center;
    font-weight: 600;
    margin-right: 130px;
}

p.register{
    font-weight: 600;
}

a.create{
    color: #14ffec;
    text-decoration: none;
    font-weight: 600;
}

a.create{
    transition: .4s;
}

a.create:hover{
    color: #ffffff;
}
/* #0d6efd */

a.password{
    font-weight: 600;
    text-decoration: none;
    color: #ffffff;
}

a.password{
    transition: .4s;
}

a.password:hover{
    color: #14ffec;
}

.col-lg-7 .redes{
    width: 83%;
    position: relative;
    display: flex;
}

.redes button.google{
    margin: 0 5px 0 0;
}

.redes button.facebook{
    margin: 0 0 0 5px;
}

/* Estilos Phone*/
@media screen and (min-width: 280px) and (max-width: 319px){
    body{
        background: linear-gradient(180deg, #212121 40%, #0d7377 80%);
    }
    section .cont-foto img{
        width: 100%;
        position: relative;
        margin: 20px 0%;
    }
    section .cont-foto::after{
        width: 50%;
        height: 4px;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        background: var(--tercer-color);
        content: "";
        position: absolute;
        z-index: 9;
    }
    section .col-lg-5{
        border-right: 0 solid transparent;
    }
    section .col-lg-7 h1{
        font-size: 30px;
    }
    section .col-lg-7 form{
        width: 80% !important;
        position: relative;
        margin: 0 auto !important;
    }
    form p.detalle{
        text-align: center !important;
        margin: 20px auto;
    }
    form button.btn-primary{
        width: 100% !important;
    }
    .col-lg-7 .redes{
        width: 100% !important;
        /* position: relative; */
        display: block;
        text-align: center;
        margin: 0 auto;
    }
    .redes button.google{
        width: 100%;
        margin: 0 0 5px 0;
    }
    
    .redes button.facebook{
        width: 100%;
        margin: 5px 0 0 0;
    }
}

@media screen and (min-width: 320px) and (max-width: 575px){
    body{
        background: linear-gradient(180deg, #212121 40%, #0d7377 80%);
    }
    section .cont-foto img{
        width: 100%;
        position: relative;
        margin: 20px 0%;
    }
    section .cont-foto::after{
        width: 50%;
        height: 4px;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        background: var(--tercer-color);
        content: "";
        position: absolute;
        z-index: 9;
    }
    section .col-lg-5{
        border-right: 0 solid transparent;
    }
    section .col-lg-7 h1{
        font-size: 30px;
    }
    section .col-lg-7 form{
        width: 80% !important;
        position: relative;
        margin: 0 auto !important;
    }
    form p.detalle{
        text-align: center !important;
        margin: 20px auto !important;
    }
    form button.btn-primary{
        width: 100% !important;
    }
    a.create{
        text-align: center !important;
        margin: 20px auto !important;
    }
    .col-lg-7 .redes{
        width: 100% !important;
        /* position: relative; */
        display: block;
        text-align: center;
        margin: 0 auto;
    }
    .redes button.google{
        width: 100%;
        margin: 0 0 5px 0;
    }
    
    .redes button.facebook{
        width: 100%;
        margin: 5px 0 0 0;
    }
    
}

/* Estilos Tablet */
@media screen and (min-width: 576px) and (max-width: 768px){
    body{
        background: linear-gradient(180deg, #212121 40%, #0d7377 80%);
    }
    section .cont-foto img{
        width: 100%;
        position: relative;
        margin: 20px 0%;
    }
    section .cont-foto::after{
        width: 50%;
        height: 4px;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        background: var(--tercer-color);
        content: "";
        position: absolute;
        z-index: 9;
    }
    section .col-lg-5{
        border-right: 0 solid transparent;
    }
    section .col-lg-7 h1{
        font-size: 30px;
    }
    section .col-lg-7 form{
        width: 80% !important;
        position: relative;
        margin: 0 auto !important;
    }
    .col-sm-10{
        width: 100%;
    }
    form p.detalle{
        text-align: center !important;
        margin: 20px auto !important;
    }
    form button.btn-primary{
        width: 100% !important;
    }
    a.create{
        text-align: center !important;
        margin: 20px auto !important;
    }
    .col-lg-7 .redes{
        width: 100% !important;
        /* position: relative; */
        display: flex;
        text-align: center;
        margin: 0 auto;
    }
    .redes button.google{
        width: 100%;
    }
    
    .redes button.facebook{
        width: 100%;
    }
}

/* Estilos Ipad */
@media screen and (min-width: 769px) and (max-width: 991px){
    body{
        background: linear-gradient(180deg, #212121 40%, #0d7377 80%);
    }
    section .cont-foto img{
        width: 100%;
        position: relative;
        margin: 20px 0%;
    }
    section .cont-foto::after{
        width: 50%;
        height: 4px;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        background: var(--tercer-color);
        content: "";
        position: absolute;
        z-index: 9;
    }
    section .col-lg-5{
        border-right: 0 solid transparent;
    }
    section .col-lg-7 h1{
        font-size: 30px;
        margin-top: 45px;
    }
    section .col-lg-7 form{
        width: 80% !important;
        position: relative;
        margin: 0 auto !important;
    }
    .col-sm-10{
        width: 100%;
    }
    form p.detalle{
        text-align: center !important;
        margin: 20px auto !important;
    }
    form button.btn-primary{
        width: 100% !important;
    }
    a.create{
        text-align: center !important;
        margin: 40px auto !important;

    }
    p.register{
        margin-left: 50px;
    }
    .col-lg-7 .redes{
        width: 100% !important;
        /* position: relative; */
        display: flex;
        text-align: center;
        margin: 0 auto;
    }
    .redes button.google{
        width: 60%;
    }
    .redes button.facebook{
        width: 60%;
    }
}

@media screen and (min-width: 992px) and (max-width: 1082px){
    section{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .col-lg-5{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .col-lg-7{
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    section .cont-foto img{
        width: 100%;
        max-width: 100%;
        height: auto;
        object-fit: contain;
        justify-content: center;
        align-items: center;
    }
    form{
        margin: 0 auto;
        width: 90%;
        padding-left: 80px;
    }
    a.create{
        margin: 0 auto;
    }
}

@media screen and (min-width: 1083px) and (max-width: 1200px){
    section{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .col-lg-5{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .col-lg-7{
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    section .cont-foto img{
        width: 100%;
        max-width: 100%;
        height: auto;
        object-fit: contain;
        justify-content: center;
        align-items: center;
    }
    form{
        margin: 0 auto;
        width: 90%;
        padding-left: 80px;
    }
    a.create{
        margin: 0 auto;
    }
}

@media screen and (min-width: 1201px) and (max-width: 1400px){
    section{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .col-lg-5{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .col-lg-7{
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    section .cont-foto img{
        width: 100%;
        max-width: 100%;
        height: auto;
        object-fit: contain;
        justify-content: center;
        align-items: center;
    }
    form{
        margin: 0 auto;
        width: 100%;
        padding-left: 98px;
    }
   
}

@media screen and (min-width: 1401px) and (max-width: 1600px){
    section{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .col-lg-5{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .col-lg-7{
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    section .cont-foto img{
        width: 100%;
        max-width: 100%;
        height: auto;
        object-fit: contain;
        justify-content: center;
        align-items: center;
    }
    form{
        margin: 0 auto;
        width: 100%;
        padding-left: 115px;
    }
}

@media screen and (min-width: 1600px) and (max-width: 1721px){
    section{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .col-lg-5{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .col-lg-7{
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    section .cont-foto img{
        width: 100%;
        max-width: 100%;
        height: auto;
        object-fit: contain;
        justify-content: center;
        align-items: center;
    }
    form{
        margin: 0 auto;
        width: 100%;
        padding-left: 136px;
    }
}
















